{{#foreach posts}}
    <div class="tile-group double">
        <span class="tile-group-title">{{{title}}}</span>
        <div class="tile-container">
            <div class="tile-large bg-red" data-role="tile" data-effect="slideLeft">
                <div class="tile-content">
                    <a href="{{url}}" class="live-slide">{{#if image}}<img src="{{image}}" alt="{{{title}}}" data-role="fitImage" data-format="fill">
                    {{/if}}>
                    </a>
                    <span>{{excerpt characters="120"}}</span>
                </div>
                {{#if tags}}<div class="tile-label">
                    {{#foreach tags}}
                        <a href="{{url}}">{{name}}</a>{{#if @last}} {{else}}, {{/if}}
                    {{/foreach}}
                </div>{{/if}}
            </div>
        </div>
    </div>
{{/foreach}}