<!DOCTYPE html>
<html>
<head>
	<title>{{@blog.title}}</title>
	<meta charset="utf-8" />
	<meta http-equiv="charset" content="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,IE=10,IE=9,IE=8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	{{meta}}

	<link rel="shortcut icon" type="image/x-icon" href="{{asset 'img/favicon16.ico'}}" sizes="16x16">
	<link rel="shortcut icon" type="image/x-icon" href="{{asset 'img/favicon32.ico'}}" sizes="32x32">
	<link rel="stylesheet" type="text/css" href="{{asset 'css/style.css'}}">
	{{ghost_head}}
</head>
<body class="{{body_class}}" style="background-image: url('{{@blog.cover}}');">
	{{navigation}}
	
	{{{body}}}

	{{> footer}}

	<script type="text/javascript" src="{{asset 'js/jquery.min.js'}}"></script>
	<script type="text/javascript" src="{{asset 'js/main.js'}}"></script>
	{{ghost_footer}}
</body>
</html>