{{!< default}}
<section>
{{#foreach posts}}
		<article class="gt-subpage gt-post-content">
			<section>
				<header>
					<h1><a href="{{url}}" class="gt-index-title">{{{title}}}</a></h1>
				</header>
				<section>
					{{excerpt characters="120"}}...
					<a href="{{url}}">[READMORE]</a>
				</section>
					{{#if tags}}
					<section>
						<div class="gt-tags">
							<ul>
								{{#foreach tags}}
								<li class="tag"><a href="{{url}}">{{name}}</a></li>
								{{/foreach}}
							</ul>
						</div>
					</section>
					{{/if}}
			</section>
		</article>
{{/foreach}}

</section>

{{pagination}}